/* Color Theme Swatches in Hex */
/*.destaque{ color: #0B0A0D; }
.principal{ color: #243E73; }
.ĐẸP-285:-THE-NEW-ROYALTY-3-hex { color: #1D3159; }
.backgroud{ color: #8BB4D9; }
.ĐẸP-285:-THE-NEW-ROYALTY-5-hex { color: #A67E6F; }*/

html{
    background: #A67E6F;
    color: #0B0A0D;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
p {
    text-indent: lem;
}
h1,h2,h3{
text-align: center;
}
h1{font-size: 1.8rem;}
h2{font-size: 1.4rem;}
h3{font-size: 1.2rem;}
.summary{text-align: right;}
.main p{line-height: 1.5;}
abbr{font-variant: small-caps;}

