/* Color Theme Swatches in Hex */
/*.destaque{ color: #0B0A0D; }
.principal{ color: #243E73; }
.ĐẸP-285:-THE-NEW-ROYALTY-3-hex { color: #1D3159; }
.background{ color: #A67E6F; }*/

html{
    background: #A67E6F;
    color: #0B0A0D;
}


